.profile-page{
  display:flex;
  justify-content:center;
  align-items:center;
  height:90vh;
  background:#f3f4f6;
}

.profile-card{
  background:white;
  padding:30px;
  border-radius:15px;
  width:350px;
  box-shadow:0 10px 25px rgba(0,0,0,0.1);
  display:flex;
  flex-direction:column;
}

.profile-card h2{
  text-align:center;
  margin-bottom:20px;
}

.profile-card label{
  margin-top:10px;
  font-size:14px;
}

.profile-card input{
  padding:10px;
  margin-top:5px;
  border-radius:8px;
  border:1px solid #ccc;
}

.profile-card button{
  margin-top:20px;
  padding:12px;
  background:#6366f1;
  color:white;
  border:none;
  border-radius:10px;
  font-weight:bold;
  cursor:pointer;
}